*{
	user-select: none!important;
}
a{
  text-decoration: none!important
}
.dropbox{
  cursor: pointer;
}
.title-stam{
	display: inline-block;
	margin: 0.8%;
}

.active{
  border-bottom: none!important;
}
.timeline-post{
	border-top: 3px solid #009688;
}
td,th{
	padding-top: 2px!important;
	padding-bottom: 2px!important;
  font-size: 14px!important;
}
.box{
	width: 100%;
	height: auto;
	display:block;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #F8F7F7;
-webkit-box-shadow: 2px 2px 5px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px -4px rgba(0,0,0,0.75);
box-shadow: 2px 2px 5px -4px rgba(0,0,0,0.75);
}

.menubar{
  display: block;
  background-color: #F8F7F7;
  padding: 10px;
  height: 5vh;
  font-size: 16px;
    -webkit-box-shadow: -2px 9px 15px -8px rgba(133,129,133,0.66);
  -moz-box-shadow: -2px 9px 15px -8px rgba(133,129,133,0.66);
  box-shadow: -2px 9px 15px -8px rgba(133,129,133,0.66);
}
.tab-menu{
  display: inline-flex;
  padding: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
  width:100px;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
    -webkit-box-shadow: -2px 9px 15px -8px rgba(133,129,133,0.66);
  -moz-box-shadow: -2px 9px 15px -8px rgba(133,129,133,0.66);
  box-shadow: -2px 9px 15px -8px rgba(133,129,133,0.66);
}
.tab-menu:hover{
  background-color: #ECECEC;
  -webkit-box-shadow: -2px 9px 15px -8px rgba(133,129,133,0.66);
  -moz-box-shadow: -2px 9px 15px -8px rgba(133,129,133,0.66);
  box-shadow: -2px 9px 15px -8px rgba(133,129,133,0.66);
}
.focus{
  background-color: #ECECEC;
  -webkit-box-shadow: -2px 9px 15px -8px rgba(133,129,133,0.66);
  -moz-box-shadow: -2px 9px 15px -8px rgba(133,129,133,0.66);
  box-shadow: -2px 9px 15px -8px rgba(133,129,133,0.66);
}
.form-control{
	margin-bottom: 1%!important;
	background-color: none!important;
}
._no{
	max-width: 1%!important;
	text-align: center!important;
	vertical-align: middle!important;
}
._edit{
	float: right!important;

}
.tile-footer{
	align-items: center;
	justify-content: center;
	text-align: center;
}

.dropbox{
	width:100%;
	height: auto;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.inputfile{
	display: none;
}
.number{
	text-align: right;
	font-family: impact!important;
}
#load{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border:3px solid #F3F1F1;
	margin-bottom: 5%;
	display: block;
	padding: 5px;
  -webkit-box-shadow: 8px 9px 15px -8px rgba(133,129,133,0.66);
  -moz-box-shadow: 8px 9px 15px -8px rgba(133,129,133,0.66);
  box-shadow: 8px 9px 15px -8px rgba(133,129,133,0.66);
}
.color{
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

#demoSelect{
	margin-bottom: 1%;
	margin-top: 1%;
}

label{
	display: block;
	margin-left: 0px;
	margin-top: 10px;
	font-size: 16px;
}
.space{
	width: 10px;
}
.vertic{
	height: 10px;
}
.submenu{
	display: inline-flex;
	width: 100px;
	height: 100px;
	margin: 10px;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	border-radius: 2px;
	border:1px solid #ccc;
	background-color: #F5F1F1;
	justify-content: center;
	text-align: center;
  -webkit-box-shadow: 8px 9px 15px -8px rgba(133,129,133,0.66);
  -moz-box-shadow: 8px 9px 15px -8px rgba(133,129,133,0.66);
  box-shadow: 8px 9px 15px -8px rgba(133,129,133,0.66);
}
.ensub{
	display: block;
	text-align: center;
}
.right{
	float: right!important;
}
input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}
.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}

.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}
.form-check-input:disabled ~ .form-check-label {
  color: #6c757d;
}

.form-check-label {
  margin-bottom: 0;
}

.form-check-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  margin-right: 0.75rem;
}

.form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-right: 0.3125rem;
  margin-left: 0;
}
.toggle input[type="checkbox"]:disabled + .button-indecator {
  cursor: not-allowed !important;
}

.toggle input[type="checkbox"]:disabled + .button-indecator:before {
  color: #ccc;
}

.toggle-flip input[type="checkbox"] {
  display: none;
}

.toggle-flip input[type="checkbox"] + .flip-indecator {
  position: relative;
  width: 60px;
  height: 30px;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-perspective: 90px;
  perspective: 90px;
}

.toggle-flip input[type="checkbox"] + .flip-indecator:before, .toggle-flip input[type="checkbox"] + .flip-indecator:after {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  line-height: 30px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.toggle-flip input[type="checkbox"] + .flip-indecator:before {
  content: attr(data-toggle-off);
  background-color: #ddd;
}

.toggle-flip input[type="checkbox"] + .flip-indecator:after {
  content: attr(data-toggle-on);
  background-color: #009688;
  color: #fff;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.toggle-flip input[type="checkbox"]:checked + .flip-indecator:before {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.toggle-flip input[type="checkbox"]:checked + .flip-indecator:after {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.toggle-flip input[type="checkbox"]:disabled + .flip-indecator {
  cursor: not-allowed !important;
  color: #ccc;
}

@-webkit-keyframes toggleBtn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes toggleBtn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
input[type="checkbox"]{
  width:18px;
  height:18px;
}
#disabled{
  pointer-events: none!important;
  cursor: no-drop!important;
}
.headerDetail{
  display: block;
  padding: 7px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  -webkit-box-shadow: -2px 9px 15px -8px rgba(133,129,133,0.66);
  -moz-box-shadow: -2px 9px 15px -8px rgba(133,129,133,0.66);
  box-shadow: -2px 9px 15px -8px rgba(133,129,133,0.66);
}
.coverpic{
  display: block;
  position: relative;
  height: 270px;
  width:auto;
  background-image: url('../img/development05.jpg');
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 8px 9px 15px -8px rgba(133,129,133,0.66);
  -moz-box-shadow: 8px 9px 15px -8px rgba(133,129,133,0.66);
  box-shadow: 8px 9px 15px -8px rgba(133,129,133,0.66);

}
.numbers{
  text-align: right!important;
  font-weight: bold;
  font-family: impact;
}

.form-control-sm{
  margin-left: 10px!important;
  margin-right: 10px!important;
  height:27px!important;
}
.paginate_button,.page-item,.active{
  margin-bottom: 10px!important;
  border-bottom: 1px solid #ccc!important;
}
.breadcrumb{
  font-size: 16px!important;
-webkit-box-shadow: 2px 8px 15px -8px rgba(133,129,133,0.66);
-moz-box-shadow: 2px 8px 15px -8px rgba(133,129,133,0.66);
box-shadow: 2px 8px 15px -8px rgba(133,129,133,0.66);
}
.btn:hover{
border-radius: 2px!important;
-webkit-box-shadow: 2px 8px 15px -8px rgba(133,129,133,0.66);
-moz-box-shadow: 2px 8px 15px -8px rgba(133,129,133,0.66);
box-shadow: 2px 8px 15px -8px rgba(133,129,133,0.66);
  }
.btn>.fa{
font-size: 15px!important;
color:white!important;
border-radius: 2px!important;
}
.btn-default>.fa{
  color:#000000!important;
}
.btn{
  border-radius: 2px!important;
-webkit-box-shadow: 3px 21px 47px -30px rgba(145,139,145,0.72);
-moz-box-shadow: 3px 21px 47px -30px rgba(145,139,145,0.72);
box-shadow: 3px 21px 47px -30px rgba(145,139,145,0.72);

}
.dropDown_hover{
  font-size: 16px!important;
}
.box-user{
  display: inline-block;
  margin: 5px;
  padding-left: 10px;
  padding-right:10px;
  padding-top: 10px;
  width:215px;
  justify-content: center;
  align-items: center;
  border:1px solid #ccc;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-box-shadow: 10px 13px 15px -8px rgba(133,129,133,0.66);
  -moz-box-shadow: 10px 13px 15px -8px rgba(133,129,133,0.66);
  box-shadow: 10px 13px 15px -8px rgba(133,129,133,0.66);
}
.foot-note{
  width:215px!important;
  height: 5vh!important;
  padding: 10px!important;
  margin-left: -21px;
  margin-bottom: -50px!important;
}
.l-float{
  display: inline-block;
  float: left;
  width: 50%!important;
  
}
.r-float{
  display: inline-block;
  float: right;
  width: 50%!important;
  
}
#demoSelect3{
  display: block;
  width: 100%!important;
}
.spec-10{
  margin-left: 50px;
  margin-right: 50px;
}
.btn{
  border-radius: 4px!important;
}
.btn:hover{
  border-radius: 4px!important;
}
.list-song{
  display: block;
  width: 97%;
  height:80px;
  border:1px solid #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px!important;
 -webkit-box-shadow: 2px 2px 5px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px -4px rgba(0,0,0,0.75);
box-shadow: 2px 2px 5px -4px rgba(0,0,0,0.75);
}
.wrap-text{
  overflow: hidden!important;
  text-overflow: ellipsis!important;
  white-space: nowrap!important;
  margin-left:5;
}