@font-face {
	font-family: 'LAOS';
	src: url('NotoSansLao-Regular.ttf') format('truetype');
}
body,th,td,div,ul>li>a,h1,h2,h3,h4,h5,input,.btn,button,select.input-text,.textarea{
	font-family: LAOS;
}
table>th{
	text-align: center!important;
}

