@charset "utf-8";

a{color:#333}a:hover,a:focus,.maincolor,.maincolor a{color:#06c}
.navbar{ background:#ffd200}
.navbar-logo,.navbar-logo-m,.navbar-slogan,.navbar-userbar{color:#282828}/*logo 及 用户信息文字颜色*/
.navbar-logo:hover,.navbar-logo-m:hover{color:#282828;text-decoration: none}

.navbar-nav > ul > li, .navbar-nav > ul > li > a{ color:#282828}
.navbar-userbar > ul> > li,.navbar-userbar > ul> > li > a{ color:#282828}

.Hui-aside{}/*侧边栏*/
.Hui-aside .menu_dropdown dt{color:#333}
.Hui-aside .menu_dropdown dt:hover{color:#148cf1}
.Hui-aside .menu_dropdown dt:hover [class^="icon-"]{ color:#7e8795}
.Hui-aside .menu_dropdown li a{color:#666;border-bottom: 1px solid #e5e5e5}
.Hui-aside .menu_dropdown li a:hover{color:#148cf1;background-color:#fafafa}
.Hui-aside .menu_dropdown li.current a,.menu_dropdown li.current a:hover{color:#148cf1}
.Hui-aside .menu_dropdown dt .Hui-iconfont{ color:#a0a7b1}
.Hui-aside .menu_dropdown dt .menu_dropdown-arrow{ color:#b6b7b8}	
.dislpayArrow a{background:url(icon_arrow.png) no-repeat 0 0}
.box {border-top: 3px solid #ffd200}
.tabBar {border-bottom: 2px solid #ffd200}
.tabBar span.current{background-color:#ffd200;color:#282828}
.headerDetail {background-color:#ffd200;color: #282828}
.fa {color:#ffd200}
.fa-save {color: white!important}
.fa-plus {color: white!important}
.fa-plus-circle {color: white!important}
.fa-pencil {color: #666!important}
.fa-check {color: #666!important}
.fa-times {color: #666!important}
.focus{border-bottom: 4px solid #ffd200;}